/* body {
    background-color: #D6CFCB;
}

.buttonColor {
    background-color: #706677;
    border-color: #706677;
}

.buttonColor:hover {
    background-color: #706677;
    border-color: #706677;
} */