body {
  background-color: #D6CFCB;
}

.buttonColor {
  background-color: #706677;
  border-color: #706677;
}

.buttonColor:hover {
  background-color: #706677;
  border-color: #706677;
}
.registration-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.registration-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#logo {
  position: relative;
  top: -30px;
}
